
.btn {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5%;
}

.modal{
    width: auto;
    position: static;
    padding: 5px 20px 13px 20px;
}

.modalcontent{
    width: 100%;
    position: static;
    padding: 5px 20px 13px 20px;
}

.modalmask2 {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask2:target {
    opacity:1;
    pointer-events: auto;
}
/*Formato de la ventana*/
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #ffffff00;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmask2:target .movedown{       
    margin:10% auto;
}
.modalmask2:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask2:target .resize{
    width:400px;
    height:200px;
}

/*Boton de cerrar*/
.close {
    background: #5e5a5a;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #10302a;
    color:#ffffff;
}


.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 550px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #ffffff00;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:550px;
    height:400px;
}

/*Boton de cerrar*/
.close {
    background: #5e5a5a;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #10302a;
    color:#ffffff;
}

h2 {
    text-align: center;
    color: #333;
}
/* Estilos generales */
body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    height: auto;
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.label{
    font-weight: 400;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: center;
}

table th {
    background-color: #10302a;
    color: white;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f8f9fa;
}

table tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.btn-primary {
    background-color: #28a745;
    color: white;
}

.btn-primary:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

#miFormulario fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#miFormulario fieldset:not(:first-of-type) {
	display: none;
}


.buscar{
    height: 35px;
    font-size: 20px;
}

/*buttons*/
#miFormulario .action-button {
	width: 100px;
	background: #10302a;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#miFormulario .action-button:hover, #miFormulario .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #10302a;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #10302a;
	color: white;
}

.active {
background-color: rgba(255, 0, 0, 0);
border-radius: 20px;
cursor: pointer;
}

.cerrar{
    background-color: #10302a84;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .agregar{
    background-color: #bc955d;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    height: auto;
  }

.btn {
    color: #fff;
    background-color: #bc955d;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    margin: 1em 1em;
    max-width: 150px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;

    @media (min-width: 400px) {
        display: inline-block;
        margin-right: 2.5em;

        &:nth-of-type(even) {
            margin-right: 0;
        }
    }

    @media (min-width: 600px) {
        &:nth-of-type(even) {
            margin-right: 2.5em;
        }

        &:nth-of-type(5) {
            margin-right: 0;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.btn-1 {
    background: darken(#9a3f2f, 1.5%);
    font-weight: 100;

    svg {
        height: 48px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    rect {
        fill: none;
        stroke: #fff;
        stroke-width: 3;
        stroke-dasharray: 402, 0;
    }
}

.btn-1:hover {
    background: rgba(#9a3f2f, 0);
    font-weight: 600;
    letter-spacing: 1px;

    rect {
        stroke-width: 5;
        stroke-dasharray: 10, 345;
        stroke-dashoffset: 108;
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

button{
    background-color: #10302a00;
    border: none;
}

.modalEditar{
    display: none; /* Oculto por defecto */
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el modal */
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999; /* Asegura que está por encima de la tabla */
    width: 60%; /* Ajusta el tamaño */
}

@media (max-width: 600px) {
    .modalEditar {
        width: 90%;
        height: 65%;
        max-width: none;
    }
}


.modalEditar input{
    width: 40%; /* Que los inputs ocupen todo el ancho */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


/* Estilo para el fondo oscuro cuando se activa el modal */
.modal-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    z-index: 998; /* Detrás del modal pero delante del contenido */
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmaskEditar:target .movedown{       
    margin:10% auto;
}
.modalmaskEditar:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmaskEditar:target .resize{
    width:400px;
    height:200px;
}

/*Boton de cerrar*/
.close{
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

.fa-solid {
    color: rgb(0, 0, 0);  /* Puedes usar cualquier color */
    font-size: 20px; /* Ajusta el tamaño si lo necesitas */
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    display: none; /* Oculto por defecto */
    text-align: center;
    width: auto;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Diferentes estilos según el tipo de alerta */
  .alert.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .alert.warning {
    background-color: #fff3cd;
    color: #856404;
  }
  
  .alert button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alert button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
